html {
    scroll-behavior: smooth;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body * {
    box-sizing: inherit;
}

.naviy {
    overflow: hidden;
    background-color: #333;
}

.naviy a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: calc(0.75em + 1vmin) !important;
}

.naviy a:hover {
    background-color: #ddd;
    color: black;
}

.viesti-laatikko {
    width: 900px;
    max-width: calc(100% - 20px);
    margin: 0 auto 10px;
    height: 1em;
    font-size: 18px;
    color: rgb(22, 77, 8);
}

.viesti-laatikko.error {
    color: rgb(122, 0, 0)
}

.poyta {
    width: 900px;
    max-width: calc(100% - 20px);
    border: 4px solid rgb(10, 43, 2);
    box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: rgba(26, 131, 0, 0.95);
    margin: 0 auto;
    color: white;
    padding: 30px;
}

.pelaaja {
    margin: 20px;
}

.pelaaja-nimi {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.pisteet {
    font-style: italic;
}

.kasi {
    height: 120px;
    background: rgba(10, 43, 2, 0.5);
    border-radius: 5px;
}

.kasi img {
    height: 100%;
    width: auto;
    padding: 10px 0 10px 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    font-size: 18px;
    border: 0;
    padding: 10px 16px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: rgb(255, 255, 255);
    background: #333333;
}

button:hover {
    cursor: pointer;
    background: #4b4b4b;
    box-shadow: 0px 0px 10px 5px #a5a5a5;
}

button[disabled] {
    color: rgb(160, 160, 160);
    background: rgb(71, 71, 71);
}

button[disabled]:hover {
    cursor: not-allowed;
    background: rgb(71, 71, 71);
    box-shadow: none;
}

button[type="reset"] {
    color: rgb(255, 184, 184);
    background: rgb(133, 8, 8);
}

button[type="reset"]:hover {
    background: rgb(150, 7, 7);
    box-shadow: 0px 0px 10px 5px rgba(150, 7, 7, 0.63);
}