html {
    scroll-behavior: smooth;
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}
@-ms-viewport {
    width: device-width ;
}
body {
    font: 16px Arial, sans-serif;
    margin: 0px;
    font-size: calc(0.75em + 1vmin) !important;
}
footer {
    background: #333;
    text-align: center;
    color: #fff;
    padding: 11px;
    position:absolute;
    width:auto;
    bottom:0px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
}
input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button {
    background-color: #333333; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 9px 26px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h1,
h2 {
    margin-bottom: 30px;
    font-size: calc(0.75em + 1vmin) !important;
}

img {
    width: 200px;
    float: left;
    margin: 0 20px 10px 0;
    border-radius: 5px;
}
#bannehj,
#bannehj2,
#bannehj3 {
    min-height: 25%;
    width: auto;
    padding: 55px;
    line-height: 1.6rem;
}
.naviy {
    overflow: hidden;
    background-color: #333;
}
.naviy a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: calc(0.75em + 1vmin) !important;
}
.naviy a:hover {
    background-color: #ddd;
    color: black;
}